{% extends "::base.html.twig" %}

{% block title %}AppBundle:supprimerContribution:supprimerContribution{% endblock %}

{% block body %}
<h1>Welcome to the supprimerContribution:supprimerContribution page</h1>
{% endblock %}
