.orangetext{
	color: #FF7C4C;
}
.title{
	text-align: center;
}

.forgetpassword a{
	text-align: center;
	color: #696969;
	text-decoration: underline;
}

.forgetpassword {
	text-align: center;
}

.profilmanquant{
	color: #B9B9B9;
	text-align: center;
}

.forgetpassword1 a{
	color: #696969;
	text-decoration: underline;
}
