{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-3">
</div>
<form class="col-md-6"  action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<h1 class=" title">REINITIALISER MON MOT DE PASSE</h1>
	<br>

    <div class = "form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class = "form-control"type="text" id="username" name="username" required="required" />
    </div>
    <br>
    <div>
    	<button class="btn btn-info btn-block" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" /> Réinitialiser mon mot de passe </button>
    </div>
            <br>
    <br>
    <p class="forgetpassword"><a href="http://blindeur.fr/web//app_dev.php/login">Annuler</a></p>
        <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>

</form>
