{% extends "::base.html.twig" %}

{% block title %}AppBundle:SupprimerAlerte:supprimerAlerte{% endblock %}

{% block body %}
<h1>Welcome to the SupprimerAlerte:supprimerAlerte page</h1>
{% endblock %}
